<% content_for :page_title do %>
    <%= Spree.t('page_contents') %> <i class='icon-arrow-right'></i> <%= Spree.t('editing_page_content') %> "<%= @page_content.title%>"
<% end %>

<% content_for :page_actions do %>
    <li><%= button_link_to Spree.t(:back_to_page_contents_list), spree.admin_page_contents_url, icon: 'icon-arrow-left' %></li>
<% end %>

<%= render 'spree/shared/error_messages', target: @page_content %>

<%= form_for [:admin, @page_content], as: :page do |f| %>
    <fieldset class='no-border-top'>
        <%= render partial: 'form', locals: {f: f} %>
        <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    </fieldset>
<% end %>
