<%= render partial: 'spree/admin/shared/product_sub_menu' %>
<%= render partial: 'spree/shared/error_messages', locals: {target: @brand} %>

<%= form_for [:admin, @brand] do |f| %>
    <fieldset class='no-border-top'>
        <div data-hook='admin_brand_edit_form'>
            <%= render partial: 'form', locals: {f: f} %>
        </div>

        <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    </fieldset>
<% end %>
