<%= render partial: 'spree/admin/shared/product_sub_menu' %>

<% content_for :page_title do %>
    <%= Spree.t(:editing_lens_type) %>
<% end %>

<% content_for :page_actions do %>
    <li><%= button_link_to Spree.t(:back_to_lens_types_list), admin_lens_types_url, icon: 'icon-arrow-left'%></li>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: {target: @lens_type} %>

<%= nested_form_for [:admin, @lens_type] do |f| %>
    <fieldset class='no-border-top'>
        <%= render partial: 'form', locals: {f: f} %>
        <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    </fieldset>
<% end %>
