<div class='row container'>
    <div class='col12'>
        <div class='contant'>
            <div class='row order contant_bg'>
                <h1 class='light-blue top_padding'>Thank you for your order</h1>
                <div class='vsap'></div>

                <div class='row'>
                    <div class='col8 col-tb-12 col-mbl-12'>
                        <h3>Order number is: 308512033</h3>

                        <p class='siges'>You will recive an email confirmation shortly at info@baymard.com</p>

                        <%= link_to '#', class: 'underline' do %>
                            <h4 class='dep-blue'>Print Recipt</h4>
                        <% end %>
                    </div>

                    <div class='col4 col-tb-12 col-mbl-12 Questions bdrl'>
                        <h4 class='bottom_padding'>Questions?</h4>

                        <%= image_tag '/images/telephone.png' %>
                        <strong  class=''>Call:</strong><span >800.967.6696</span><br>

                        <div class='vsap2'></div>

                        <%= image_tag '/images/mail.png' %>
                        <strong  class=''>Email:</strong><span>info@eyebuyforless.com</span>
                    </div>

                    <div class='vsap'></div>
                    <div class='vsap'></div>
                </div>
            </div>

            <div class='row save contant_bg'>
                <div class='col8 col-tb-12 col-mbl-12'>
                    <div class='vsap'></div>
                    <h3 class=''>Save your information for next time</h3>
                    <div class='vsap'></div>

                    <div class='row'>
                        <div class='col6 col-tb-12 col-mbl-12'>
                            <p>Create password:<span>*</span></p>
                            <input type='text'>
                        </div>

                        <div class='col6 col-tb-12 col-mbl-12'>
                            <p>Verify password:<span>*</span></p><span></span>
                            <input type='text'>
                        </div>

                        <small>(4-18 charactors)</small>

                        <div class='vsap'></div>
                    </div>

                    <div id='accordion'>
                        <div class='panel panel-default'>
                            <div class='panel-heading'>
                                <h4 class='panel-title'>
                                    <%= link_to '#collapseOne', data: {toggle: 'collapse', parent: '#accordion'} do %>
                                        <h3 class='dep-blue arrow'>Detailed Order Receipt</h3>
                                    <% end %>
                                </h4>
                            </div>

                            <div id='collapseOne' class='panel-collapse collapse in'>
                                <div class='panel-body'>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>

                        <div class='panel panel-default'>
                            <div class='panel-heading'>
                                <h4 class='panel-title'>
                                    <%= link_to '#collapseTwo', data: {toggle: 'collapse', parent: '#accordion'} do %>
                                        <h3 class='dep-blue arrow'>Return Policy</h3>
                                    <% end %>
                                </h4>
                            </div>

                            <div id='collapseTwo' class='panel-collapse collapse'>
                                <div class='panel-body'>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                  </div>
                </div>

                <div class='col4'></div>
            </div>
        </div>
    </div>
</div>
