<%= render partial: 'spree/admin/shared/product_sub_menu' %>
<%= render partial: 'spree/admin/shared/product_types_sub_menu' %>
<%= render partial: 'spree/admin/shared/options_tabs', locals: {current: 'Options'} %>
<%= render partial: 'spree/shared/error_messages', locals: {target: @lens_protection_option} %>

<%= form_for [:admin, @lens_protection, @lens_protection_option], url: admin_lens_protection_lens_protection_option_path(@lens_protection.id, @lens_protection_option.id) do |f| %>
    <fieldset class='no-border-top'>
        <div data-hook='admin_lens_protection_option_edit_form'>
            <%= render partial: 'form', locals: {f: f} %>
        </div>

        <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    </fieldset>
<% end %>
