<%= render partial: 'spree/admin/shared/product_sub_menu' %>
<%= render partial: 'spree/admin/shared/product_types_sub_menu' %>
<%= render partial: 'spree/admin/shared/options_tabs', locals: {current: 'Options'} %>

<div id='new_option'></div>

<% if @lens_protection_options.any? %>
    <table class='index sortable' data-sortable-link="<%= update_positions_admin_lens_protection_lens_protection_options_path(@lens_protection) %>">
        <colgroup>
            <col style='width: 5%' />
            <col style='width: 30%' />
            <col style='width: 20%' />
            <col style='width: 15%' />
            <col style='width: 15%' />
        </colgroup>

        <thead data-hook='lens_protection_options_header'>
            <tr>
                <th colspan='2'><%= Spree.t(:name) %></th>
                <th><%= Spree.t(:price) %></th>
                <th class='actions'></th>
            </tr>
        </thead>

        <tbody>
            <% @lens_protection_options.each do |option| %>
                <tr id="<%= spree_dom_id option %>" data-hook='options_row' class="<%= cycle('odd', 'even')%>">
                    <td class='no-border'>
                        <span class='handle'></span>
                    </td>
                    <td><%= option.name %></td>
                    <td><%= option.display_price %></td>
                    <td class='actions'>
                        <%= link_to_edit(option.id, no_text: true) %>
                        &nbsp;
                        <%= link_to_delete(option.id, no_text: true) %>
                    </td>
                </tr>
            <% end %>
            <% if @lens_protection.options.empty? %>
                <tr><td colspan='5'><%= Spree.t(:none) %></td></tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <div class='alpha twelve columns no-objects-found'>
        <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/lens_protection_option')) %>,
        <%= link_to Spree.t(:add_one), spree.new_admin_lens_protection_lens_protection_options_path(@lens_protection) %>!
    </div>
<% end %>

<% content_for :page_actions do %>
    <ul class='inline-menu' data-hook='toolbar'>
        <li id='new_var_link' data-hook>
            <%= link_to_with_icon('icon-plus', Spree.t(:new_lens_protection_option), new_admin_lens_protection_lens_protection_option_url(@lens_protection), remote: :true, :'data-update' => 'new_option', class: 'button') %>
        </li>
    </ul>
<% end %>
