<%= render partial: 'spree/admin/shared/product_sub_menu' %>

<% content_for :page_title do %>
    <%= Spree.t(:editing_prescription_category) %> <span class='green'>"<%= @prescription_category.name %>"</span>
<% end %>

<% content_for :page_actions do %>
    <li>
        <span id='new_add_prescription_item' data-hook>
            <%= link_to_add_fields Spree.t(:add_prescription_item), "tbody#prescription_items", class: 'button icon-plus' %>
        </span>
    </li>
    <li><%= button_link_to Spree.t(:back_prescription_categories_list), admin_prescription_categories_url, icon: 'icon-arrow-left'%></li>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: {target: @prescription_category} %>

<%= form_for [:admin, @prescription_category] do |f| %>
    <%= render partial: 'form', locals: {f: f} %>

    <fieldset>
        <legend align='center'><%= Spree.t(:prescription_items) %></legend>

        <table class='index sortable' data-hook data-sortable-link="<%= update_items_positions_admin_prescription_categories_url %>">
            <thead data-hook='option_header'>
                <tr>
                    <th colspan='2'><%= Spree.t(:name) %></th>
                    <th class='actions'></th>
                </tr>
            </thead>
            <tbody id='prescription_items'>
                <% if @prescription_category.prescription_items.empty? %>
                    <tr id='none' data-hook='option_none' class="<%= cycle('odd', 'even')%>">
                        <td><%= Spree.t(:none) %></td>
                        <td class='actions'></td>
                    </tr>
                <% else %>
                    <%= f.fields_for :prescription_items do |prescription_item_form| %>
                        <%= render partial: 'prescription_item_fields', locals: {f: prescription_item_form} %>
                    <% end %>
                <% end %>
            </tbody>
        </table>

        <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    </fieldset>
<% end %>
