<% content_for :page_title do %>
    <%= Spree.t(:editing_product) %> &ldquo;<%= @product.name %>&rdquo;
<% end %>

<% content_for :sidebar_title do %>
    <span class='sku'><%= @product.sku %></span>
<% end %>

<% content_for :sidebar do %>
    <nav class='menu'>
        <ul data-hook='admin_product_tabs'>
            <%= content_tag :li, class: ('active' if current == 'Product Details') do %>
                <%= link_to_with_icon 'icon-edit', Spree.t(:product_details), edit_admin_product_url(@product) %>
            <% end if can?(:admin, Spree::Product) %>

            <%= content_tag :li, class: ('active' if current == 'Images') do %>
                <%= link_to_with_icon 'icon-picture', Spree.t(:images), admin_product_images_url(@product) %>
            <% end if can?(:admin, Spree::Image) %>

            <% if not @product.is_a?(NonBuyable) %>
                <%= content_tag :li, class: ('active' if current == 'Variants') do %>
                    <%= link_to_with_icon 'icon-th-large', Spree.t(:variants),  admin_product_variants_url(@product) %>
                <% end if can?(:admin, Spree::Variant) %>

                <% if @product.is_a?(Frame) %>
                    <%= content_tag :li, class: ('active' if current == 'Colors') do %>
                        <%= link_to_with_icon 'icon-th-large', Spree.t(:colors),  admin_product_frame_colors_url(@product) %>
                    <% end if can?(:admin, Spree::Variant) %>
                <% end %>

                <%= content_tag :li, class: ('active' if current == 'Product Properties') do %>
                    <%= link_to_with_icon 'icon-tasks', Spree.t(:product_properties), admin_product_product_properties_url(@product) %>
                <% end if can?(:admin, Spree::ProductProperty) %>

                <% if @product.is_a?(ContactLens) %>
                    <%= content_tag :li, class: ('active' if current == 'Limitations') do %>
                        <%= link_to_with_icon 'icon-filter', Spree.t(:limitations), limitations_admin_product_url(@product) %>
                    <% end if can?(:admin, Spree::Product) %>
                <% end %>

                <%= content_tag :li, class: ('active' if current == 'Stock Management') do %>
                    <%= link_to_with_icon 'icon-tasks', Spree.t(:stock_management), stock_admin_product_url(@product) %>
                <% end if can?(:stock, Spree::Product) %>
            <% end %>
        </ul>
    </nav>
<% end %>
